<div>
  <%= form_for @account, :url => url_for(:controller => "authentication", :action => "authenticate") do |f| %>
    <%= f.email_field :email, placeholder: t("email") %>
    <%= f.password_field :password, placeholder: t("password") %>
    <%= button_tag t("authentication.login")  %>
  <% end %>
</div>
