<div>
  <%= form_for @account, :url => url_for(:controller => "account", :action => "create") do |f| %>
    <%= f.text_field :first_name,  placeholder: t("account.first_name") %>
    <%= f.text_field :last_name,  placeholder: t("account.last_name") %>
    <%= f.email_field :email, placeholder: t("email") %>
    <%= f.password_field :password, placeholder: t("password") %>
    <%= f.password_field :password_confirmation, placeholder: t("account.confirm_password") %>
    <%= button_tag t("account.create_account")  %>
  <% end %>
</div>
