<!DOCTYPE html>
<html>
  <head>
    <title>SiteBuilderRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id='header'>
    <% if authenticated? %>
      <%= render :partial => "/authentication/logout" %>
    <% else %>
      <%= render :partial => "/authentication/login" %>
      <%= link_to t("account.create_account"), :controller => :account, :action => :new %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
